.div1 {
    border: 5px black;
    background-color: lightblue;
    padding: 30px;
    margin: 50;
    height: 200px;
    width: 400px;
    margin-bottom: 20px;
}

.div2 {
    border: 5px black;
    background-color: lightblue;
    height: 50px;
    width: 400px;
    margin-bottom: 20px;
}

.div3 {
    border: 5px black;
    background-color: lightblue;
    height: 50px;
    width: 400px;
    padding: 50px;
    margin-bottom: 20px;
}

.div4 {
    border: 5px black;
    background-color: lightblue;
    height: 50px;
    width: 400px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.div5 {
    border: 5px black;
    background-color: lightblue;
    height: 50px;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 20px; 
}
